
/*Kept some CSS stylesheet stylings as I am using react-bootstrap and wanted to utilize their styled components*/


.App {
    text-align: center;
}



.App-header {
  background-color: white;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


html, body {
    height: 100%;
    overflow:auto;
    position: relative;
}

body {
    
    text-align: center;
    color: #f5f5f5;
}

.calcContainer{
   padding-bottom: 60px;
}

.inner-text {
    position: relative;
    top: 75%;
    transform: translateY(-50%);
    font-size: 50px;

    @media only screen and (min-width: 320px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media only screen and (min-width: 400px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media only screen and (min-width: 680px) {
        font-size: 75px;
    }

    @media only screen and (min-width: 950px) {
        font-size: 100px;
    }
}






#calForm{
    margin-top: 40px;
}



.form-group{
    width: 90%;
}

.input-group{
   width: 100%;
}

.react-datepicker-wrapper {
    width: 90%;
   
}
.react-datepicker__input-container{
    width: 100%;
    color: dimgrey !important;
}
.calendarForm {
    width: 100% !important;
    color: black;
}
    .calendarForm:hover {
        background-color: #d4d4d4;
        color: black !important;
        border-color: dimgrey;
    }

.dropdown input-group-btn input-group-btn-lg{
    margin: 0 auto;
    width: 100% !important;
}
.dropdown {
    display: block;
    margin: 0 auto;
}
.dropdown-toggle {
    color: dimgrey;
}

.resultsRow{
    width:100%;
    margin-left: 0px; 
    margin-right: 0px;
}


.resultsCol{
    margin-top: 20px;
}

.input-group-button{
    width: 90%
}

.input-group-btn{
    width: 100%;
    padding: 5px;
}

.react-datepicker__month{
    font-size: 15px !important;
}
.react-datepicker__header{
    font-size: 15px !important;
}
.react-datepicker__month-container {
    width: 250px !important;
    z-index: 2000;
}

.input-dropdown-addon{
    z-index: 0 !important;
}
.react-datepicker-popper{
z-index: 2000 !important;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    margin: 5px;
}